<!DOCTYPE html>
<html>
    <head>
        <title>Ele's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="">Ele's Blog</a></h1>
        </header>

        <article>
            <time>15.09.2024</time>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!</p>
        </article>
        
        <article>
            <time>25.09.2024</time>
            <h2><a href="">My first post</a></h2>
            <p>It works!</p>
        </article>
        
    </body>
</html>